accelerate>=0.34.2
cartopy>=0.23.0
catalogue>=2.0.10
click>=8.1.6
confection>=0.1.5
diffusers>=0.30.3
earthengine_api>=1.1.2
easydict>=1.13
ema_pytorch>=0.7.7
Flask>=3.0.3
global_land_mask>=1.0.0
h5py>=3.12.1
lpips>=0.1.4
matplotlib>=3.9.2
networkx>=3.2.1
numpy>=2.1.3
optuna>=4.1.0
Pillow>=11.0.0
pyyaml>=6.0.1
rasterio>=1.4.0
safetensors>=0.4.5
schedulefree>=1.3
scikit-image>=0.24.0
scipy>=1.14.1
torch>=2.4.1
torchmetrics>=1.4.2
torchvision>=0.19.1
tifffile>=2024.9.20
tqdm>=4.66.5
wandb>=0.18.2
infinite-tensor>=0.2.2
torch-fidelity>=0.3.0
pyfastnoiselite==0.0.6